NGINX_PORT=8080
MYSQL_PORT=3306
PHPMYADMIN_PORT=8081

MYSQL_ROOT_PASSWORD=root_password

WORDPRESS_DB_NAME=wma_wordpress
WORDPRESS_DB_USER=wma_user
WORDPRESS_DB_PASSWORD=wma_password
WORDPRESS_TABLE_PREFIX=wp_

APP_DB_NAME=wma_app
APP_DB_USER=wma_user
APP_DB_PASSWORD=wma_password
CI_ENVIRONMENT=development

WP_HOME=http://worshipmusicacademy.localhost:8080
WP_SITEURL=http://worshipmusicacademy.localhost:8080
APP_BASE_URL=http://worshipmusicacademy.localhost:8080/app/
