.env
db_data/

wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/davidlarocka-wma/
!wordpress/wp-content/themes/davidlarocka-wma/**

app/vendor/
app/writable/cache/
app/writable/logs/
app/writable/session/
app/writable/uploads/
.DS_Store
